# DB
DB_URI=
DB_NAME=

# Application Port
PORT=3000

# Servicio de almacenamiento
R2_ACCESS_KEY_ID=
R2_PUBLIC_URL=
R2_SECRET_ACCESS_KEY=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_ENDPOINT=

# JWT
JWT_SECRET=MIRA-LO-SEGURO-QUE-SOY-JAJA-QUE-PRO